@charset "UTF-8";

/* Mobile first */

*{
    margin: 0px;
    padding: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root{
    --cor1: #671d69;
    --cor2: #d14165;
    --cor3: #AF1B3F;
}

html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: var(--cor1);
}


/* ------------------------------------------------- */


main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

main section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px; 
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    overflow: hidden;
    display: block;

    transition: width .1s, height .1s;
    transition-timing-function: ease; /* Comando novo, lembrar deste */

}

div#imagem{
    background: white url('imagens/metal.jpg') no-repeat left bottom;
    background-size: cover;
    height: 200px;
    display: block;
}

display#form{
    display: block;
}

div#form h2{
    text-align: center;
    padding: 5px;
}

div#form p{
    font-size: 0.8em;
    padding: 10px;
    line-height: 1.5em;
    text-align: center;
}

div#formpart1{
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5px;
}

div.boxpurpleform{
    background-color: var(--cor1);
    border-radius: 5px;
    width: 90%;
    margin: auto;
    text-align: right;
}

input#iemail, input#ipass{
    padding: 7px;
    border-radius: 8px;
    width: 85%;
    border: 2px solid var(--cor1);
    background-color: #ddb9b9;
    
}

input#iemail:focus, input#ipass:focus{
    background-color: #fff;
}

div#passbox{
    margin-top: 5px;
}

div#formpart2{
    text-align: center;
    margin-top: 5px;
}

span.material-icons{
    color: white;
}

div#formpart2 input{
    width: 90%;
    padding: 7px 0px;
    border-radius: 6px;
}

div#formpart2 input:first-child{
    background-color: var(--cor2);
    color: white;
    border: 1px solid var(--cor2);
}

div#formpart2 input:first-child:hover{
    background-color: var(--cor3);

}

div#formpart2 input#button{
    margin-top: 5px;
    color: var(--cor2);
    border: 1px solid var(--cor2);
}

input#button:hover{
    background-color: rgba(228, 41, 72, 0.425);
}

label.boxinsidepurple{
    text-align: center;
    display: inline;
    margin: auto;
}