@charset "UTF-8";

/* Mobile First */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --cor1: #5F2C82;
    --cor2: #53AAA7;
    --cor3: #94CFCD;
}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--cor1);
}


/* ------------------------------------------------------ */


main {
    max-width: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    height: 470px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.377);
}

main h1{
    text-align: center;
    margin-top: 10px;
}

main p{
    text-align: justify;
    font-size: 0.7em;
    padding: 10px;
}

section{
    background-color: white;
    height: 100%;
    border-radius: 15px;
}

div#imagem{        
    background: white url('imagens/metal.jpg') no-repeat fixed left bottom;
    background-size: cover;
    height: 180px;
    width: 230px;
    display: block;
    border-radius: 15px 15px 0px 0px;
}

div#form{
    display: block;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    
}

input#submit, input#forgpass{
    width: 90%;
    margin: auto;
    padding: 10px 3px;
    border-radius: 5px;
    margin-top: 5px;
    
}

#iemail, #ipass{
    border-radius: 8px;
    padding: 7px;
    height: 20px;
    background-color: var(--cor3);
    margin: auto;
    border: none;
    justify-content: center;
    align-items: center;
}

input#submit{
    background-color: var(--cor2);
    color: white;
    border: 1px solid rgb(68, 180, 162);
}

input#submit:hover{
    background-color: rgb(27, 116, 116);
}

input#forgpass{
    border: 1px solid rgb(68, 180, 162);
    color: #2D6462;

}

input#forgpass:hover{
    background-color: rgb(77, 185, 185);
}

.campo{
    margin: auto; 
    background-color: #5F2C82;
    width: 195px;
    border-radius: 7px;
    margin-top: 4px;
    padding-left: 6px;
    display: flex;
    border: 2px solid #5F2C82;
}

.material-icons{
    color: white;
    margin: auto;
}

#subfog{
    margin-top: 2px;
}













































